body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container{
  background: #f3f3f3;
  height: 100vh;
  width: 100%;
}
.banner{
  font-size: 30px;
  padding: 200px 0;
}
.banner-text{
  font-size: 20px;
}
.nav-width{
  width: 100%;
}
.banner-main-txt{
  display: block;
}