body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
}

.main-container{
  width: 100%;
}
.p1{
  padding: 1rem;
}

.flex-middle{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home page */

.container-height{
  height: 100vh;
}

.img-container{
  font-size: 30px;
  padding-top: 15%;
  background: url('assets/home-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Photo by Arnel Hasanovic on Unsplash */

.banner-text{
  font-size: 20px;
}
.text-bg{
  background: white;
  padding: 5px;
}
.banner-main-txt{
  display: block;
  margin-bottom: 20px;
}
.white-container{
  background: white;
  text-align: center;
  padding-top: 15%;
}



/* navbar */
.nav-logo{
  /* color: white !important; */
}
.nav-width{
  width: 100%;
  background-color: #d3d3d352;
  height: 50px;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 6px #d3d3d39e;
}
.nav-items{
  position: absolute;
  right:0;
}

.link-color{
  color: black;
  margin-right: 15px;
}
.link-color:hover{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.link-color:active , .link-color:focus{
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}
.brand-logo{
  background: white;
  padding: 0 5px;
}


/* Projects */
.projects-heading{
  font-size: 30px;
  padding: 100px 0 0 0;
}
.project-card {
  width: 49%;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px #d3d3d38c;
}
.project-img {
  border-bottom: 1px solid #d3d3d352;
  margin-bottom: 10px;
  height: 130px;
  /* background: #b3d7ff; */
  background-image: url('assets/angular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.js-stack-img{
  background-image: url('http://pluspng.com/img-png/logo-javascript-png-javascript-for-ile-y-ld-z-600.png')
}
.project-name{
  padding: 5px 10px;
  color: grey;
  font-weight: bold;
  font-size: 16px;
}
.project-desc{
  padding: 5px 10px;
  color: #343a40;
  font-size:12px;
  padding-bottom: 20px;
}
.project-container {
  padding: 50px 30px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}